body {
  background-color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links li a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.links a:hover {
  color: #8b0000;
}

.links li a.active {
  color: #8b0000;
}

nav {
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 100px;
}

.logo-image {
  height: 100px;
  width: 100px;
  margin-left: 30px;
  background-color: white;
}

.logo, .links li {
  display: inline-flex;
  padding-top: 20px;
}

#check {
  display: none;
}

.checkbtn {
  float: right;
  font-size: 25px;
  color: black;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.logo {
  padding-left: 40px;
}

.links {
  float: right;
  padding-right: 80px;
}


/* About CSS */

#banner {
  background-image: url(banner.jpg);
  background-size: cover;
  font-size: 70px;
  text-shadow: 2px 2px 0 black;
  height: 270px;
  text-align: center;
  margin-top: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner p {
  padding: 100px;
  margin-top: 200px
}

span {
  color: #8b0000;
}

.intro {
  text-align: center;
  color: black;
  margin-top: 60px;
}

.intro p {
  margin-left: 200px;
  margin-right: 200px;
}

.about {
  text-align: center;
  margin-top: 60px;
}

.linkies {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.thorns {
  width: 500px;
  height: 320px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.infome {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 25px;
}

.youngn {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
}


/* Letters CSS */
.top {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0px;
}

.title h1 {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0px;
  font-size: 70px;
  padding: 0px;
}

.thoughts p{
  text-align: center;
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 70px;
}

.sub {
  text-align: center;
}

.votd {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.blogimage {
  width: 100%;
  height: 400px;
}

.container h1 {
  text-align: center;
}

.container div {
  border-style: outset;
  display: block;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.more {
  color: goldenrod;
}

.more:hover {
  color: #8b0000;
}

/* Posts CSS*/
.blogtitle {
  font-size: 55px;
}

.bloginfo {
  text-align: center;
  max-width: 800px;
  border-style: dashed;
  border-color: #8b0000;
  margin: 0 auto;
  padding: 40px;
  margin-top: 120px;
}

.content {
  margin-top: 50px;
  max-width: 800px;
}

pre {
  white-space: pre-wrap;  
  word-break: break-word;  
  max-width: 100%;
  overflow: hidden;
}

.content pre {
  font-family: sans-serif;
}

/* Contact CSS */
.contactintro {
  text-align: center;
  border-style: outset;
  margin-right: 200px;
  margin-left: 200px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.tap {
  text-align: center;
  margin-top: 120px;
  font-size: 45px;
}

.form {
  margin-left: 500px;
  margin-right: 500px;
}

.button {
    padding: "10px 20px";
    background: "#007BFF";
    background-color: goldenrod;
    border: "none";
    border-radius: "5px";
    cursor: "pointer";
  }

.button:hover {
  cursor: pointer;
  background-color: #8b0000;
}

.icons {
  padding-bottom: 5px;
  font-size: 40px;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 50px;
}

.icons a {
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

.icons a:hover {
  color: rgb(192, 25, 25);
}

.icons a:nth-child(1) .svg-inline--fa {
  color: #4267B2; /* Corresponds to faFacebook */
}

.icons a:nth-child(2) .svg-inline--fa {
  color: #E1306C; /* Corresponds to faInstagram */
}

.icons a:nth-child(3) .svg-inline--fa {
  color: black; /* Corresponds to faThreads */
}

.icons a:nth-child(4) .svg-inline--fa {
  color: black; /* Corresponds to faXTwitter */
}

.icons a:nth-child(5) .svg-inline--fa {
  color: #0077b5; /* Corresponds to faLinkedin */
}

@media (max-width: 1100px) {
  
  /* Contact CSS*/
  .form {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 760px) {
  
  .checkbtn {
    display: block;
    padding-top: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .links{
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color:#8b0000; 
    top: 80px;
    left: -130%;
    text-align: center;
    padding-top: 50px;
    transition: all 1s;
  }
  .links li{
    display: block;
    line-height: 40px;
    margin-right: 110px;
    font-size: 20px;
  }
  .links li a{
    color: white;
  }
  .links li a:hover {
    color: goldenrod;
  }
  
  /* About */

  .intro p {
    margin-left: 50px;
    margin-right: 50px;
  }

  .infome {
    margin-left: 50px;
    margin-right: 50px;
  }


  /* Blog */


  /* Contact */
  .contactintro {
    margin-right: 60px;
    margin-left: 60px;
  }
  
  .form {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 495px) {
  
/* About CSS */
  #banner {
    background-image: url(banner.jpg);
    background-size: cover;
    font-size: 70px;
    text-shadow: 2px 2px 0 black;
    height: 270px;
    text-align: center;
    margin-top: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #banner p {
    padding: 100px;
    margin-top: 200px
  }
  
  span {
    color: #8b0000;
  }
  
  .intro {
    text-align: center;
    color: black;
    margin-top: 50px;
  }
  
  .intro p {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .about {
    text-align: center;
    margin-top: 50px;
  }
  
  .linkies {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .thorns {
    width: 500px;
    height: 320px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .infome {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  
}